# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
agentic_env/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Environment Files
backend/.env
frontend/.env